version: '3.9'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "4041:4040"
    environment:
      - NODE_ENV=development
        DB=${DB}
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules

  frontend:
    image: frontend-image
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5174:5173"
    environment:
      - NODE_ENV=development
    volumes:
      - ./frontend:/usr/src/app/
      - /usr/src/app/node_modules