version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "4040:4040"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development