.admin_main_container {
	text-align: center;
	padding: 50px;
}

.admin_nav ul {
	list-style: none;
	padding: 0;
}

.admin_nav ul li {
	display: inline;
	margin: 0 10px;
}

.admin_nav ul li a {
	text-decoration: none;
	color: #59c4eb;
	font-weight: bold;
}

.admin_nav ul li a:hover {
	color: #5982db;
}
